<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"> </script>
  </head>
  <body>
    <section>
      <h1>Step 1, 2</h1>
      <button id="main">RUN AJAX Request to Root</button>
    </section>    

    <section id="steps3456">
      <h1>Step 3, 4, 5, 6</h1>
      <button id="ping_pong">RUN AJAX Request to Ping/Pong</button>   
    </section>
    <section id="step7">
      <h1>Step 7</h1>
      <button id="shared">Run AJAX Request to Count</button>
    </section>
    <section id="step8">
      <h1>Step 8</h1>
      <button id="request_time">Run AJAX Request to Time</button>
    </section>
    <section id="step9">
        <h1>Step 9</h1>
        <button id="car">Run AJAX Request to A Car </button>
        <ul id="list">

        </ul>
      </section>
      
  </body>
</html>
